@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: white;
}
html,
body {
    height: 100vh;
}
.mob {display: none;}
.inner {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* [s] header style */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

.btn-menu, .btn-menu-close {display: none;}

#nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#nav ul::after {
    content: '';
    display: block;
    clear: both;
}

#nav ul li {
    position: relative;
    float: left;
    margin-left: 45px;
}

#nav ul li .menu-bubble {
    display: none;
    position: absolute;
    left: 50%;
    height: 125px;
    font-family: 'Carbon-Regular', sans-serif;
    font-size: 3.2rem;
    background: url('../images/bubble.png') no-repeat center ;
    transform: translateX(-50%);
}

#nav ul li .menu-bubble span {
    position: absolute;
    left: 50%;
    bottom: 35px;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
}

#nav ul li a {
    text-decoration: underline;
    text-underline-offset: 6px;
    font-family: 'Carbon-Regular', sans-serif;
    font-size: 3.2rem;
}

#nav ul li a:hover {
    color: #d72a85;
}

#nav ul li a:hover + .menu-bubble {
    display: block;
}

/* [e] header style */

#introPage {
    width: 100vw;
    height: 100vh;
    background: url('../images/loading-page.png') no-repeat center / 100% 100%;
}

#introPage::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    background: url('../images/loading-oct.png') no-repeat center / 100% 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#introPage .page-name {
    font-size: 8rem;
    z-index: 1;
}

#introPage .page-name #loading {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 3rem;
}

#homePage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#homePage .homeText {
    position: absolute;
    left: 50%;
    width: 90%;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%);
}

#homePage .homeText span {
    visibility: hidden;
}

#homePage #homeText1 {
    top: 300px;
}

#homePage #homeText1 h2 {
    font-size: 7rem;
}

#homePage #homeText1 p {
    margin-top: 30px;
}

#homePage #homeText2 {
    right: 0;
    bottom: 120px;
    text-align: right;
}

#homePage #homeText2 p {
    line-height: 1.5;
}

#homePage #homeText2 strong {
    font-weight: bold;
}

#aboutPage {
    position: relative;
    top: -3px;
    background: url('../images/bg-page.png') no-repeat top;
}

#main {
    position: relative;
    overflow: hidden;
}

#main::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 4000px;
    height: 100%;
    background: url('../images/bg-page.png') no-repeat top center / 100% 100%;
    transform: translateX(-50%);
    z-index: 0;
}

.section {
    z-index: 1;
}

#section1 {
    position: relative;
    padding-top: 455px;
    width: 100%;
    height: 1448px;
    z-index: 1;

}

#section1::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1544px;
    height: 1481px;
    background: url('../images/bg-grid-1.png') no-repeat top right / 100% auto;
}


#section1::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1650px;
    background: url('../images/bg-section-1.png') no-repeat top right / 100% auto;
    transform: translate(-50%, -50%);
}


#section1 .canvas-area {
    position: relative;
    height: 100vh;
}

#section1 .canvas-area #canvas-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

#section1 .canvas-area #scrollCanvas {
    width: 100%;
    height: 100%;
}

#section1 .text-wrap {
    width: 100%;
    height: 100%;
}

#section1 .text-wrap ul {
    display: flex;
    height: 778px;
    flex-direction: column;
    justify-content: space-between;
}

#section1 .text-wrap ul::after {
    content: '';
    display: block;
    clear: both;
}

#section1 .text-wrap ul li {
    position: relative;
    width: 100%;
    height: 15%;
    opacity: 0;
    z-index: 1;
}

#section1 .text-wrap ul li > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#section1 .text-wrap ul li:nth-child(odd) > div {
    left: 0;
}

#section1 .text-wrap ul li:nth-child(even) > div {
    right: 0;
}

#section1 .text-wrap ul li > div strong {
    font-family: 'Carbon-Regular', sans-serif;
    font-size: 7.3rem;
}
#section1 .text-wrap ul li > div p {
    margin-top: 30px;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.3;
}

#section2 {
    position: relative;
    width: 100%;
    height: 1010px;
}

#section2::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1697px;
    height: 997px;
    background: url('../images/bg-section-2.png') no-repeat top / cover;
    transform: translateX(-50%);
}

#section2 .video-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 727px;
    height: 404px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#section2 .video-area .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/youtube-hover.png') no-repeat center / cover;
}

#section2 .video-area .video-bg::after {
    content: 'Play';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: 'Carbon-Regular', sans-serif;
    font-size: 4.3rem;
    border-bottom: 1px solid #fff;
    transform: translate(-50%, -50%);
}

#section3 {
    height: 500px;
    padding-top: 150px;
}

#section3 .swiper {
    width: 100%;
    height: 100%;
}

#section3 .swiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 100% 100%;
}

#section3 .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

#section3 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: relative;
    top: auto;
    bottom: auto;
    margin-top: 60px;
}

#section3 .swiper-button-disabled {
    pointer-events: all;
}

#section3 .swiper-pagination-bullet {
    background-color: #fff;
}

#section3 .swiper-pagination-bullet-active {
    background-color: #d72a85;
}

#section .swiper-btn-wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

#section3 .btn-slider {
    width: 60px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 100;
}

#section3 .btn-slider::after {display: none;}

#section3 .btn-slider.prev {
    left: -6%;
    background-image: url('../images/slider-prev-on.png');
}

#section3 .btn-slider.next {
    left: auto;
    right: -6%;
    background-image: url('../images/slider-next-on.png');
}

#section3 .btn-slider.prev.swiper-button-disabled {
    background-image: url('../images/slider-prev.png');
}
#section3 .btn-slider.next.swiper-button-disabled {

    background-image: url('../images/slider-next.png');
}

#section3 .swiper-button-disabled.prev:hover {
    background-image: url('../images/slider-prev-on.png');
}
#section3 .swiper-button-disabled.next:hover {
    background-image: url('../images/slider-next-on.png');
}


#section3 .news-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

#section3 .news-wrap:hover {
    background-color: rgba(235, 40, 156, 0.8);
}

#section3 .news-wrap:hover .hover {
    display: block;
}

#section3 .news-wrap .news-cont {
    position: absolute;
    padding: 0 30px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

#section3 .news-wrap .news-tit {

    font-size: 2.6rem;
    font-weight: 900;
    box-sizing: border-box;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#section3 .news-wrap .hover {
    display: none;
}

#section3 .news-wrap .news-txt {
    margin: 20px 0 40px;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#section4 {
    padding: 275px 0 250px;
}

#section4 h3 {
    font-family: 'Carbon-Regular', sans-serif;
    font-size: 4.4rem;
}

#section4 ul {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section4 ul li {
    position: relative;
}

#section4 ul li::after {
    content: '';
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

#section4 ul li:nth-child(1)::after {
    width: 98px;
    height: 84px;
    bottom: 70px;
    right: -100px;
    background-image: url('../images/news-1.png');
}

#section4 ul li:nth-child(2)::after {
    width: 171px;
    height: 249px;
    bottom: -15px;
    right: -105px;
    background-image: url('../images/news-2.png');
}

#section4 ul li:nth-child(3)::after {
    width: 101px;
    height: 47px;
    right: -95px;
    background-image: url('../images/news-3.png');
}

#section4 ul li:nth-child(2) {
    margin-top: 80px;
}

#section4 ul li:nth-child(4) {
    margin-top: 75px;
}

#section4 ul li h4 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 900;
    vertical-align: bottom;
}

#section4 ul li h4 strong {
    display: inline-block;
    position: relative;
    font-size: 3.2rem;
}

#section4 ul li h4 strong::before {
    content: '';
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 4px;
    background-color: #eb289c;
}

#section4 ul li p {
    font-size: 1.9rem;
    line-height: 1.5;
}

#section5 .sns-list {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: center;
}

#section5 .sns-list li {
    margin: 20px;
}

#section5 .sns-list li a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 0;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
}

#section5 .sns-list li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#section5 .sns-list li a.icon1::after {
    background-image: url('../images/sns-icon-1.png');
}
#section5 .sns-list li a.icon2::after {
    background-image: url('../images/sns-icon-2.png');
}
#section5 .sns-list li a.icon3::after {
    background-image: url('../images/sns-icon-3.png');
}
#section5 .sns-list li a.icon4::after {
    background-image: url('../images/sns-icon-4.png');
}
#section5 .sns-list li a.icon5::after {
    background-image: url('../images/sns-icon-5.png');
}
#section5 .sns-list li a.icon6::after {
    background-image: url('../images/sns-icon-6.png');
}
#section5 .sns-list li a.icon7::after {
    background-image: url('../images/sns-icon-7.png');
}

footer {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

footer .copy {
    margin-top: 125px;
    margin-bottom: 80px;
    font-weight: 900;
}

footer .contact-us {
    margin-bottom: 45px;
    font-size: 1.6rem;
}

footer .contact-us span {
    font-family: 'Carbon-Regular', sans-serif;
    font-size: 2.2rem;
}

.logo-wrap {
    padding: 140px 0 30px;
    margin: 0 auto;
    width: 330px;
}

.logo-wrap .f-logo-img {
    display: flex;
    flex-wrap: wrap;
}

.f-logo-img li {
    width: 50%;
    text-align: center;
    margin-top: 50px;
}

 .f-logo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

 .f-logo-list li {
     margin: 0 25px ;
 }


.animate {
    position: sticky;
    top: 45vh;
    opacity: 0;
    font-size: 40px;
    width: 100%;
    height: 90px;
    text-align: center;
  }
  .trigger {
    width: 100%;
    height: 10px;
    margin-bottom: 900px;
  }

  @keyframes txt_blur_show {
    0% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
    50% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
    100% {
        filter:blur(0);
        -moz-filter:blur(0);
        -webkit-filter:blur(0);
        opacity: 1;
    }
  }

  @keyframes txt_blur_hide {
    0% {
        filter:blur(0);
        -moz-filter:blur(0);
        -webkit-filter:blur(0);
        opacity: 1;       
    }
    50% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
    100% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
  }

  .txt_blur_show {
    animation: txt_blur_show 2s alternate ease-in;
  }

  .txt_blur_hide {
    animation: txt_blur_hide 2s alternate ease-in;
  }

@media screen and (max-width:1230px) {
    .btn-menu, .btn-menu-close {display: block;}
    .btn-menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    .btn-menu-close {
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .btn-menu.active + #nav {
        top: 0;
        transform: none;
        transition: all ease 0.5s;
    }

    #nav {
        position: fixed;
        top: -100%;
        padding-top: 80px;
        width: 100vw;
        height: 100vh;
        background-color: #0b152e;
        transition: all ease 0.5s;
    }

    #nav ul li {
        float: none;
        margin-left: 0;
    }

    #nav ul li a:hover {
        background-color: #ed1fa5;
    }

    #homePage #homeText1 {font-size: 1.8rem;}

    #section1 {padding-top: 204px; height: 920px;}
    #section1::before {width: 120%;}
    #section1::after {width: 120%; height: 700px;}
    #section1 .text-wrap ul li > div strong {font-size: 4rem;}
    #section1 .text-wrap ul li > div p {font-size: 1.8rem;}

    #section3 .swiper {overflow: visible; margin: 0 ;}
    #section3 .btn-slider, #section3 .swiper-pagination {display: none}
    #section3 .news-wrap .news-cont{position: relative; padding: 0; margin-top: 20px; top: 100%; left: auto; background-color: transparent; transform: none;}
    #section3 .news-wrap:hover {background-color: rgba(0,0,0,0.6);}
    #section3 .news-wrap:hover .hover {display: none;}

    #section3 .news-wrap .news-tit {
        margin-top: 10px;
        padding: 0;
        top: 100%;
        left: auto;
        transform: none;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    #section4 ul {display: block; margin-top: 110px;}
    #section4 ul li {width: 100%; padding-bottom: 110px; margin: 0 !important;}
    #section4 ul li:last-child {padding-bottom: 0;}
    #section4 ul li::after {display: none;}
    #section4 ul li h4,
    #section4 ul li p {
        display: table-cell;
        vertical-align: middle;
    }
    #section4 ul li h4 {padding-right: 65px; text-align: right;}
    #section4 ul li h4 strong {display: block; margin-bottom: 10px;}
    #section4 ul li h4 strong::before {display: none;}

    #section4 ul li p::before,
    #section4 ul li h4::after {
        content: '';
        display: block;
        position: absolute;
    }
    #section4 ul li h4::after {
        top:0;
        left: 123px;
        width: 1px;
        height: 100%;
        background-color: #d72a85;
    }

    #section4 ul li p {position: relative; padding-left: 70px;}
    #section4 ul li p::before {
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        background: url('../images/loadmap-dot.png') no-repeat center;
        transform: translateX(-50%);
    }

    #section5 label {text-align: left;}
    #section5 label, #section5 input, #section5 button {
        display: block;
        width: 100%;
        height: 76px;
        border-radius: 40px;
    }
    #section5 input {
        margin: 20px 0 53px;
        background: rgba(255,255,255, 0.3);
        border: 2px solid #fff;
    }
    #section5 button {
        font-size: 3rem;
        text-decoration: none;
        background-color: #ea1e9b;
    }




}


@media screen and (min-width:1321px) {
    .inner, #homePage .homeText {width: 1321px;}
    #homePage #homeText1 {font-size: 2.3rem;}
}

@media screen and (max-width: 667px) {
    .mob {display: block;}
    header {
        padding-top: 40px;
    }
    #nav ul li a {
        display: block;
        padding: 16px 16px 17px;
        font-size: 3.3rem;
        text-decoration: none;
        color: #dbdbdb !important;
    }
    #main::before {
        width: 667px;
        background: url('../images/mobile/bg-page.jpg') no-repeat bottom / 100% auto;
    }

    #section1 {
        height: 650px;
        padding-top: 115px;
    }
    #section1::before {
        width: 100%;
        height: 560px;
        background: url('../images/mobile/bg-grid-1.png') no-repeat top;
    }

    #section1::after {
        width: 516px;
        height: 395px;
        background: url('../images/mobile/bg-section-1.png') no-repeat top;
    }

    #section1 .text-wrap ul {
        height: 550px;
        justify-content: space-around;
    }

    #section1 .text-wrap ul li > div strong {
        font-size: 2.5rem;
    }

    #section1 .text-wrap ul li > div p {
        font-size: 1.2rem;
    }

    #section2 {height: 405px;}
    #section2::before {
        top: 50%;
        left: 50%;
        width: 847px;
        height: 560px;
        background: url('../images/mobile/bg-section-2.png') no-repeat top / 100%;
        transform: translate(-50%, -50%);
    }
    #section2 .video-area {
        width: 88%;
        height: 158px;
    }

    #section2 .video-area .video-bg::after {
        font-size: 1.6rem;
    }

    #section3 {
        height: 235px;
        padding-top: 40px;
    }

    #section3 .news-wrap {background-color: transparent}
    #section3 .news-wrap .news-tit {font-size: 1rem;}
    #section3 .news-wrap .news-cont {margin-top: 10px;}

    #section4 {
        padding-top: 150px;
        padding-bottom: 120px;
    }

    #section4 h3 {font-size: 2.8rem;}
    #section4 ul {margin-top: 35px;}
    #section4 ul li {padding-bottom: 50px;}
    #section4 ul li h4 {padding-right: 35px; font-size: 1.5rem;}
    #section4 ul li h4 strong {font-size: 1.9rem;}
    #section4 ul li h4::after {left: 70px;}
    #section4 ul li p {padding-left: 35px; font-size: 1.1rem; line-height: 1.7;}

    #section5 .sns-list li {margin: 0 5px;}
    #section5 .sns-list li a {width: 30px; height: 30px; margin: 0 auto; background-color: #d6d6d6;}
    #section5 .sns-list li a::after {background-size: 44px auto;}

    footer .logo-wrap {width: 100%; padding: 60px 0 30px;}
    footer .logo-wrap p img {height: 9px;}

    footer .f-logo-img {justify-content: center}
    footer .f-logo-img li {width: 30%}
    footer .f-logo-img li:first-child img {width: 37px; height: 41px;}
    footer .f-logo-img li:last-child img {width: 47px; height: 41px;}

    footer .f-logo-list li {margin: 0 10px;}
    footer .f-logo-list li:nth-child(1) img {height: 7px !important;}
    footer .f-logo-list li:nth-child(2) img {height: 13px !important;}
    footer .f-logo-list li:nth-child(3) img {height: 9px !important;}
    footer .f-logo-list li:nth-child(4) img {height: 7px !important;}

    footer .copy {margin-top: 45px; margin-bottom: 45px; font-size: 1rem;}

    footer .contact-us {margin-bottom: 300px; font-size: 1rem;}
    footer .contact-us span {font-size: 1.2rem;}
}
