@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: white;
}
html,
body {
    height: 100vh;
}

.inner {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* [s] header style */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

#nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#nav::after {
    content: '';
    display: block;
    clear: both;
}

#nav li {
    position: relative;
    float: left;
    margin-left: 45px;
}

#nav li .menu-bubble {
    display: none;
    position: absolute;
    left: -50%;
    width: 180px;
    height: 65px;
    background: url('../images/bubble.png') no-repeat center / 180px auto;
}

#nav li .menu-bubble span {
    position: absolute;
    left: 50%;
    bottom: 17px;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
}

#nav li a:hover + .menu-bubble {
    display: block;
}

/* [e] header style */

#homePage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#homePage .homeText {
    position: absolute;
    left: 50%;
    width: 90%;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%);
}

#homePage .homeText span {
    visibility: hidden;
}

#homePage #homeText1 {
    top: 250px;
}

#homePage #homeText1 h2 {
    font-size: 7rem;
}

#homePage #homeText1 p {
    margin-top: 30px;
}

#homePage #homeText2 {
    right: 0;
    bottom: 120px;
    text-align: right;
}

#homePage #homeText2 p {
    line-height: 1.5;
}

#homePage #homeText2 strong {
    font-weight: bold;
}

#aboutPage {
    position: relative;
    top: -3px;
    background: url('../images/bg-page.png') no-repeat top;
}

#main {
    overflow: hidden;
}

#section1 {
    position: relative;
    width: 100%;
    height: 1530px;
}

#section1 .canvas-area {
    position: relative;
    height: 100vh;
}

#section1 .canvas-area #canvas-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

#section1 .canvas-area #scrollCanvas {
    width: 100%;
    height: 100%;
}

.bg-area {
    position: relative;
    background: url('../images/bg-page.png') no-repeat center bottom / 100% 100%;
}

#section2 {
    position: relative;
    width: 100%;
    height: 1115px;
}

#section2 .video-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1015px;
    height: 560px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#section2::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1962px;
    height: 2679px;
    background: url('../images/bg-section-2.png') no-repeat top -195px center / cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#section3 {
    padding: 230px 0;
    height: 885px;
}

#section3 .swiper {
    height: 100%;
}

#section3 .swiper .swiper-slide {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#section3 .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

#section3 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: relative;
    top: auto;
    bottom: auto;
    margin-top: 60px;
}

#section3 .swiper-pagination-bullet {
    background-color: #fff;
}

#section3 .swiper-pagination-bullet-active {
    background-color: #d72a85;
}

#section3 .btn-slider {
    position: absolute;
    top: 50%;
    width: 69px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#section3 .btn-slider::after {display: none;}

#section3 .btn-slider.prev {
    left: 0;
    background-image: url('../images/slider-prev-on.png');
    transform: translateX(-120%);
}
#section3 .btn-slider.next {
    left: auto;
    right: 0;
    transform: translateX(120%);
    background-image: url('../images/slider-next-on.png');
}
#section3 .btn-slider.prev.swiper-button-disabled {

    background-image: url('../images/slider-prev.png');
}
#section3 .btn-slider.next.swiper-button-disabled {

    background-image: url('../images/slider-next.png');
}

#section4 {
    padding: 96px 0 126px;
    height: 650px;
}

#section4 h3 {
    font-size: 3.2rem;
}

#section4 ul {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
}

#section4 ul li {
    position: relative;
    width: 25%;
}

#section4 ul li::after {
    content: '';
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4 ul li:nth-child(1)::after {
    width: 82px;
    height: 93px;
    bottom: 60px;
    right: 2px;
    background-image: url('../images/news-1.png');
}

#section4 ul li:nth-child(2)::after {
    width: 125px;
    height: 275px;
    bottom: -15px;
    right: 2px;
    background-image: url('../images/news-2.png');
}

#section4 ul li:nth-child(3)::after {
    width: 117px;
    height: 87px;
    right: 0;
    background-image: url('../images/news-3.png');
}

#section4 ul li:nth-child(2) {
    margin-top: 80px;
}

#section4 ul li:nth-child(4) {
    margin-top: 75px;
}

#section4 ul li h4 {
    margin-bottom: 20px;
    font-size: 2rem;
    vertical-align: bottom;
}

#section4 ul li h4 strong {
    display: inline-block;
    position: relative;
    font-size: 3rem;
}

#section4 ul li h4 strong::before {
    content: '';
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 4px;
    background-color: #eb289c;
}

#section4 ul li p {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -1px;
}

#section5 {
    position: relative;
    padding: 170px 0;
    height: 487px;
    text-align: center;
}

#section5 .form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#section5 label {
    font-size: 3.2rem;
}

#section5 input {
    padding: 0 55px;
    margin-left: 30px;
    margin-right: 60px;
    width: 833px;
    height: 136px;
    font-size: 3rem;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background: url('../images/bg-email.png') no-repeat center / 100% auto;
}

#section5 input::placeholder {
    color: #95378c;
}

#section5 button {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 3rem;
}

#section6 {

}

#section6 .sns-list {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#section6 .sns-list li {
    margin: 0 20px;
}

#section6 .sns-list li a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 0;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
}

#section6 .sns-list li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#section6 .sns-list li a.icon1::after {
    background-image: url('../images/sns-icon-1.png');
}
#section6 .sns-list li a.icon2::after {
    background-image: url('../images/sns-icon-2.png');
}
#section6 .sns-list li a.icon3::after {
    background-image: url('../images/sns-icon-3.png');
}
#section6 .sns-list li a.icon4::after {
    background-image: url('../images/sns-icon-4.png');
}
#section6 .sns-list li a.icon5::after {
    background-image: url('../images/sns-icon-5.png');
}
#section6 .sns-list li a.icon6::after {
    background-image: url('../images/sns-icon-6.png');
}

#section7 {
    padding: 80px 0;
}

#section7 .pdf-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#section7 .pdf-list li {
    padding: 20px 0;
    width: 16%;
    text-align: center;
}

footer {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

footer .copy {
    margin-bottom: 80px;
}

.logo-wrap {
    padding: 60px 0 50px;
    margin: 0 auto;
    width: 330px;
}

.logo-wrap ul {
    display: flex;
    flex-wrap: wrap;
}

.logo-wrap ul li {
    width: 50%;
    text-align: center;
    margin-top: 50px;
}

.animate {
    position: sticky;
    top: 45vh;
    opacity: 0;
    font-size: 40px;
    width: 100%;
    height: 90px;
    text-align: center;
  }
  .trigger {
    width: 100%;
    height: 10px;
    margin-bottom: 900px;
  }

  @keyframes txt_blur_show {
    0% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
    50% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
    100% {
        filter:blur(0);
        -moz-filter:blur(0);
        -webkit-filter:blur(0);
        opacity: 1;
    }
  }

  @keyframes txt_blur_hide {
    0% {
        filter:blur(0);
        -moz-filter:blur(0);
        -webkit-filter:blur(0);
        opacity: 1;       
    }
    50% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
    100% {
        filter:blur(7px);
        -moz-filter:blur(7px);
        -webkit-filter:blur(7px);
        opacity: 0;
    }
  }

  .txt_blur_show {
    animation: txt_blur_show 2s alternate ease-in;
  }

  .txt_blur_hide {
    animation: txt_blur_hide 2s alternate ease-in;
  }


@media screen and (max-width:768px) {
    #homePage #homeText1 {font-size: 1.8rem;}

    #section3 .btn-slider {width: 40px; }
    #section3 .btn-slider.next {right: 15%;}
    #section3 .btn-slider.prev {left: 15%;}

    #section5 label, #section5 input {display: block; width: 100%;}
    #section5 input {margin: 20px 0;}

    #section7 .pdf-list li {width: 50%;}
}

@media screen and (min-width:769px) and (max-width:1230px) {
    #section3 .btn-slider {width: 40px; }
    #section3 .btn-slider.next {right: 7%;}
    #section3 .btn-slider.prev {left: 7%;}
    #section7 .pdf-list li {width: 30%;}
}

@media screen and (min-width:1231px) {
    .inner, #homePage .homeText {width: 1280px;}
    #homePage #homeText1 {font-size: 2.3rem;}
}